*{
  box-sizing: border-box;
  
}

body{
    font-family: "Segoe UI",'Roboto',"Helvetica Neue",Helvetica,Arial,sans-serif;
    margin-top: 0;
}
.headerUL li a, #infoSection li a{
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
    font-weight:600;
}

li{
    list-style: none;
}

nav, .leftSide, ul, .rightSide{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li{
 padding: 0 10px;
}
.leftSide{
    padding-left: 40px;
}

#more, #infoSection #aboutOrange{
    color: #ff764d ;
}

#try{
    color: #0000ff;
    padding-right: 30px;
}

#infoSection{
    justify-content: flex-start;
    padding: 0 0 0 25px;
}
main{
    position: relative;
    margin: 0 10%;
    height: 100vh;
    background-repeat: no-repeat;
    background-image:url("https://ableton-production.imgix.net/about/header.jpg?auto=format&fit=crop&fm=jpg&h=817&ixjsv=1.1.3&w=1063");
    background-position: center;    
}
main img{
    width: 100%;
   
}

h1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ff764d;
    font-size: 8rem;
    margin: 0;
    
}

#weMake,#belowYellow,#aboveGreen, #belowGreen,#anotherTxt,#belowPurple{
    margin: 100px auto;
    width: 60%;
    
    
}

.blueWords{
    color: #0000ff;
}

#afterIntro{
    position: relative;
    margin-top: 150px;
    margin: 0 5%;
}

#musicPad, #lady{
    width: 45%;
    padding: 13% 0;
    margin: 0 4%;
    
}

#lady{
    width:35%;
    margin-bottom: 3%;
}

#yellow{
    position: absolute;
    height: 100%;
    width: 60%;
    background-color:#fbffa7;
    top: 0;
    right: 0;
    z-index: -1;
}

/* #belowYellow, #aboveGreen{
    margin: 10% 30%;
    
} */

#videoSection {
   margin: 0 30%;
}

.videoWrapper{
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;
  
}

.videoWrapper iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#greenSection{
    /* border: 4px solid red; */
    display: flex;
    padding: 8% 0;
    position: relative;
    margin: 0 5%;

}

#lSide, #rSide{
    width: 50%;
}

#greenSection img{
    width: 60%;
}

#rSide img{
    width: 80%;
    margin: 20% 0;
}

#lSide img{
    margin: 10% 20%;
}

#greenBack{
    background-color:#b6ffc0;
    width:60%;
    position: absolute;
    top: 0;
    height: 100%;
    z-index: -1;
}

#soloPic img{
    width: 100%;
    padding: 0 10%;
}

#purpleSection{
    display: flex;
    margin: 0 10%;
    position: relative;
}

#purpleSection img{
    width: 100%;
    padding: 30% 0;
}

#leftPurple img{
    width: 85%;
    margin-top: 20%;
    
}
#rightPurple img{
    padding-top:38% ;
    width: 120%;
}


#purpleBlock{
    background-color: #d5b3ff;
    height: 100%;
    width: 85%;
    position: absolute;
    top: 0;
    left: 5%;
    z-index: -1;
}

#lightBlue{
    display: flex;
    margin: 0 10%;
}

#lightBlue section{
    /* border: 3px solid purple; */
    width: 50%;
}


#lightBlue img{
    width:100%;
    height: 100%;
}

#lightRight{
  background-color:#b1c5ff;
}

#footerTitle{
    font-size: 3rem;
    margin-left: 10%;
}

.footerClass{
    display: inline;
}

footer li a{
    text-decoration: none;
    color: black;
}

.footerClass ul{
    padding: 0;
}

#firstRow{
    display: flex;
}

#left, #firstInLeft{
    margin-left: 10%;
}

.fRow {
   width: 100%;
}

footer h3{margin:0}

footer ul li{
    padding: 0;
}
#right{
    margin-top: 2%;
}

#secondRow ul{
    display: inline;
}

#secondRow{
    display: flex;
    justify-content: space-between;
    margin-top: 5%;
}
#secondRow section{
width: 100%;
}





/* Media Quieres */

@media screen and (max-width: 750px) {
    h1{
        font-size: 5rem;
    }
}